.deleteBtn {
  float: right;
  color: black;
}

.editBtn {
  float: right;
  border-radius: 24px;
}

.list-group {
  height: 350px;
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  text-align: left;
}

.userContent {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}
